@import url("https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #e5afe3;
  color: #13101C; }
  header .nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    header .nav-container label img {
      width: 10%; }
    header .nav-container .nav-menu {
      display: flex;
      font-family: "Saira", sans-serif;
      font-size: 4.25rem;
      gap: 5.25rem; }
      header .nav-container .nav-menu li {
        list-style: none; }
        header .nav-container .nav-menu li a {
          text-decoration: none;
          color: #13101C; }

.nav-label, .nav-input {
  display: none; }

footer {
  background-color: #13101C;
  background-position: center;
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-size: 2.25rem;
  color: #8F78E6;
  list-style: none; }
  footer .footerizq {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    padding-left: 1.875rem; }
    footer .footerizq .footerder {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: end;
      list-style: none;
      margin-top: -5.9375rem;
      padding-right: 1.875rem; }

body {
  background-color: #FFD4FF; }
  body .section-catalogo {
    width: 100%;
    height: 45.25rem;
    background-image: url(../assets/img/catalogo-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto; }
    body .section-catalogo div a button {
      background-color: rgba(229, 175, 227, 0.39);
      color: #13101C;
      font-family: "Saira", sans-serif;
      font-size: 3rem;
      border-style: none;
      padding: 1rem 1.5rem;
      cursor: pointer; }
  body .section-news {
    display: flex;
    width: 100%;
    height: 42.25rem;
    background-image: url(../assets/img/news-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: flex-start; }
    body .section-news div {
      display: flex;
      align-items: center;
      justify-content: center; }
      body .section-news div a button {
        background-color: rgba(229, 175, 227, 0.39);
        color: #13101C;
        font-family: "Saira", sans-serif;
        font-size: 3rem;
        border-style: none;
        padding: .1rem 1.5rem;
        cursor: pointer; }
  body .section-merch {
    display: flex;
    width: 100%;
    height: 42.25rem;
    background-image: url(../assets/img/merch-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: flex-start; }
    body .section-merch div {
      display: flex;
      align-items: center;
      justify-content: center; }
      body .section-merch div a button {
        background-color: rgba(229, 175, 227, 0.39);
        color: #13101C;
        font-family: "Saira", sans-serif;
        font-size: 3rem;
        border-style: none;
        padding: .1rem 1.5rem;
        cursor: pointer; }
  body .newsmerch {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }

.flex-bandas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2.5rem; }
  .flex-bandas h1 {
    width: 100%;
    font-family: 'Saira', sans-serif;
    font-size: 4rem;
    text-align: center; }

.flex-bandas1 {
  background-image: url(../assets/img/turnstile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  height: 40.15rem;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer; }

.flex-bandas2 {
  background-image: url(../assets/img/deftones.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  height: 40.15rem;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer; }

.flex-bandas3 {
  background-image: url(../assets/img/loquero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  height: 40.15rem;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer; }

.flex-bandas4 {
  background-image: url(../assets/img/title-fight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  height: 40.15rem;
  display: flex;
  align-items: end;
  justify-content: center; }

.flex-bandas1 a button, .flex-bandas2 a button, .flex-bandas3 a button, .flex-bandas4 a button {
  background-color: rgba(229, 175, 227, 0.39);
  color: #13101C;
  font-family: "Saira", sans-serif;
  font-size: 1.5rem;
  border-style: none;
  padding: 1rem 1.5rem;
  cursor: pointer; }

.main-news .bg-danger-subtle {
  background-color: #FFD4FF !important; }
  .main-news .bg-danger-subtle h1 {
    color: #FFD4FF !important;
    background: #13101C; }

.main-news .card-body {
  background: #13101C;
  color: #FFD4FD;
  text-align: center;
  font-family: 'Saira', sans-serif; }

.main-merch .bg-danger-subtle {
  background-color: #FFD4FF !important; }
  .main-merch .bg-danger-subtle h1 {
    color: #FFD4FF !important;
    background: #13101C; }

.main-merch .card-body {
  background: #13101C;
  color: #FFD4FD;
  text-align: center;
  font-family: 'Saira', sans-serif; }

.main-contacto .bg-danger-subtle {
  background-color: #FFD4FF !important; }
  .main-contacto .bg-danger-subtle h1 {
    color: #FFD4FF !important;
    background: #13101C; }

@media (max-width: 2560px) {
  footer {
    padding-top: 3.125rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
  .flex-item0 {
    width: 50%; }
    .flex-item0 a img {
      width: 50%; }
  .flex-item1 {
    width: 50%; }
    .flex-item1 a img {
      width: 15%; }
  .copyright {
    width: 100%; } }

@media (max-width: 1440px) {
  .nav .nav-container .nav-menu {
    font-size: 3.25rem; }
  .main-index .section-catalogo {
    background-position: center;
    height: 28.15rem; }
  .main-index .newsmerch .section-news {
    height: 23.15rem;
    width: 50%; }
  .main-index .newsmerch .section-merch {
    height: 23.15rem;
    width: 50%; }
  .main-catalogo .flex-bandas1 {
    height: 23.15rem; }
  .main-catalogo .flex-bandas2 {
    height: 23.15rem; }
  .main-catalogo .flex-bandas3 {
    height: 23.15rem; }
  .main-catalogo .flex-bandas4 {
    height: 23.15rem; } }

@media (max-width: 1024px) {
  .nav .nav-container .nav-menu {
    font-size: 2.25rem;
    gap: 3.25rem; }
  .main-index .section-catalogo {
    height: 22.15rem; }
  .main-index .newsmerch .section-news {
    background-size: cover;
    background-position: center; }
  .main-index .newsmerch .section-merch {
    background-size: cover;
    background-position: center; }
  .main-catalogo .flex-bandas1 {
    height: 17.15rem; }
  .main-catalogo .flex-bandas2 {
    height: 17.15rem; }
  .main-catalogo .flex-bandas3 {
    height: 17.15rem; }
  .main-catalogo .flex-bandas4 {
    height: 17.15rem; }
  footer {
    padding-top: .9375rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
  .flex-item0 {
    width: 50%; }
  .flex-item1 {
    width: 50%; }
  .copyright {
    width: 100%;
    font-size: 1.25rem; } }

@media (max-width: 768px) {
  header .nav .nav-container {
    flex-direction: row-reverse; }
    header .nav .nav-container .nav-menu {
      gap: 0.25rem;
      justify-content: flex-start;
      position: fixed;
      top: 3.2rem;
      bottom: 30rem;
      background: #FFD4FF;
      width: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      clip-path: circle(0% at center);
      transition: clip-path .5s ease-in-out;
      z-index: 1; }
  header .nav-label {
    display: flex;
    justify-content: flex-end;
    cursor: pointer; }
  header .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); }
  header .nav-logo {
    width: 60%; }
  .main-index .section-catalogo {
    height: 23.15rem; }
  .main-index .newsmerch {
    flex-direction: column;
    flex-wrap: wrap; }
    .main-index .newsmerch .section-news {
      width: 100%; }
    .main-index .newsmerch .section-merch {
      width: 100%; }
  .main-catalogo .flex-bandas .flex-bandas1 {
    width: 90%;
    height: 24.15rem; }
  .main-catalogo .flex-bandas .flex-bandas2 {
    width: 90%;
    height: 24.15rem; }
  .main-catalogo .flex-bandas .flex-bandas3 {
    width: 90%;
    height: 24.15rem; }
  .main-catalogo .flex-bandas .flex-bandas4 {
    width: 90%;
    height: 24.15rem; }
  footer {
    padding-top: .9375rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .flex-item0 a img {
    width: 60%; }
  .flex-item1 a img {
    width: 15%; }
  .copyright {
    width: 70%;
    font-size: .6rem; } }

@media (max-width: 425px) {
  header .nav .nav-container .nav-menu {
    font-size: 1.25rem;
    bottom: 39rem;
    top: 2.2rem; }
  .main-index .section-catalogo {
    height: 12.15rem; }
  .main-index .newsmerch .section-news {
    height: 12.15rem; }
  .main-index .newsmerch .section-merch {
    height: 12.15rem; }
  .main-catalogo .flex-bandas h1 {
    font-size: 2rem; }
  .main-catalogo .flex-bandas .flex-bandas1 {
    height: 13.15rem; }
  .main-catalogo .flex-bandas .flex-bandas2 {
    height: 13.15rem; }
  .main-catalogo .flex-bandas .flex-bandas3 {
    height: 13.15rem; }
  .main-catalogo .flex-bandas .flex-bandas4 {
    height: 13.15rem; }
  footer {
    padding-top: .9375rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1rem; }
  .flex-item0 {
    width: 100%; }
  .flex-item a img {
    flex: 10%; }
  .flex-item1 {
    width: 100%; }
  .copyright {
    width: 100%;
    font-size: .5rem; }
  .flex-item0 a img {
    width: 60%; }
  .flex-item1 a img {
    width: 15%; } }

@media (max-width: 320px) {
  header .nav .nav-container .nav-menu {
    font-size: 1.25rem;
    top: 2.2rem; }
  .main-index .section-catalogo {
    height: 8.15rem; }
  .main-index .newsmerch .section-news {
    height: 8.15rem; }
  .main-index .newsmerch .section-merch {
    height: 8.15rem; }
  .main-catalogo .flex-bandas h1 {
    font-size: 2rem; }
  .main-catalogo .flex-bandas .flex-bandas1 {
    height: 10.15rem; }
  .main-catalogo .flex-bandas .flex-bandas2 {
    height: 10.15rem; }
  .main-catalogo .flex-bandas .flex-bandas3 {
    height: 10.15rem; }
  .main-catalogo .flex-bandas .flex-bandas4 {
    height: 10.15rem; } }
