@import "./utilities/variables";

@import "./base/reset";
@import "./base/typo";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-catalogo";
@import "./layout/main-news";
@import "./layout/main-merch";
@import "./layout/main-contacto";

@import "./components/bootstrap";
@import "./components/botones";
@import "./components/cards";

@import "./layout/media/media2560px";
@import "./layout/media/media1440px";
@import "./layout/media/media1024px";
@import "./layout/media/media768px";
@import "./layout/media/media425px";
@import "./layout/media/media320px";
