@media (max-width:2560px){
footer {
	padding-top: 3.125rem;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.flex-item0 {
	width: 50%;
	a {
		img {
			width: 50%;
		}
	}
}
.flex-item1 {
	width: 50%;
	a {
		img {
			width: 15%;
		}
	}
}
.copyright {
	width: 100%;
}
}