@media (max-width:425px){
header{
    .nav{ 
            .nav-container{
                .nav-menu{
                    font-size: 1.25rem;
                    top: 2rem;
            }
        }
    }
}    
.main-index{
        .section-catalogo{
            height: 12.15rem;
        }
        .newsmerch{
        .section-news{
            height: 12.15rem;
        }
        .section-merch{
            height: 12.15rem;
        }
        }
    }
    .main-catalogo{
        .flex-bandas{
            h1{
                font-size: 2rem;
            }
            .flex-bandas1 {
                height: 13.15rem
            }
            .flex-bandas2 {
                height: 13.15rem
            }
            .flex-bandas3 {
                height: 13.15rem
            }
            .flex-bandas4 {
                height: 13.15rem
            }
        }   
    }
.main-contacto{
    .bg-danger-subtle{
        h1{
            padding-left: 1rem;
            padding-right: 1rem;
        }
        }
    }
footer{
    padding-top: .9375rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1rem;
}
.flex-item0{
    width: 100%;
}
.flex-item a img{
    flex: 10%;
}
.flex-item1{
    width: 100%;
}
.copyright{
    width: 100%;
    font-size: .5rem;
}
.flex-item0 a img{
    width: 60%;
}
.flex-item1 a img{
    width: 15%;
}
}