@media(max-width:375px){
    header{
        .nav{ 
                .nav-container{
                    .nav-menu{
                        font-size: 1.25rem;
                        top: 1.8rem;
                }
            }
        }
    } 
    .main-contacto{
        height: 83vh;
    }
}