@media (max-width:1440px){
    .nav{
        .nav-container{
            .nav-menu{
                font-size: 3.25rem;
            }
        }
    }
    .main-index{
    .section-catalogo{
        background-position: center;
        height: 28.15rem;
    }
    .newsmerch{
        .section-news{
            height: 23.15rem;
            width: 50%;
        }
        .section-merch{
            height: 23.15rem;
            width: 50%;
        }
        }
    }
    .main-catalogo{
        .flex-bandas1 {
            height: 23.15rem;
        }
        
        .flex-bandas2 {
            height: 23.15rem;
        }
        
        .flex-bandas3 {
            height: 23.15rem;
        }
        
        .flex-bandas4 {
            height: 23.15rem;
        }
    }
}