@mixin flexible ($display, $direction, $justify, $align){ 
    display: $display;
    flex-direction: $direction;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: $justify;
    align-items: $align;
}
@mixin opacidad-btn($size, $pad){
    background-color: $opacidad-botones;
    color: $color-fuente1;
    font-family: $fuente-badwave;
    font-size: $size;
    border-style: none;
    padding: $pad;
    cursor: pointer;
}
@mixin cards{
    background: #13101C;
    color: #FFD4FD;
    text-align: center;
    font-family: 'Saira', sans-serif;;
}