body{
    background-color: #FFD4FF;
    $fuente-badwave: 'Saira', sans-serif;
    $color-fuente1: #13101C; 
    $opacidad-botones: rgba(229, 175, 227, 0.39);
}
.main-index{ 
    .section-catalogo {
        width: 100%;
        height: 45.25rem;
        background-image: url(../assets/img/catalogo-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 auto;
        div {
            a {
                button {
                    @include opacidad-btn (3rem, 1rem 1.5rem)
                }
            }
        }
    }
}
#btn-catalogo button{
    transition: all 300ms;
    position: relative;
}
#btn-catalogo button:hover{
    transform: scale(1.15);
}
.section-news {
    display: flex;
    width: 100%;
    height: 42.25rem;
    background-image: url(../assets/img/news-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: flex-start;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                button {
                    @include opacidad-btn (3rem, .1rem 1.5rem);
                }
            }
        }
    }
    .section-merch {
        @extend .section-news;
        background-image: url(../assets/img/merch-home.jpg);
    }
    .newsmerch {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

